@import "@/assets/scss/variables";

html, body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Condensed", Avenir, sans-serif;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: "Trirong", "Times New Roman", serif
}

.theme-dark{
    background-color: $black;
}